body {
    font-size: 12px;
    font-family: Arial;
    background: url(../images/bg.png) repeat-x top center;
}
a { text-decoration: none }
a:hover { text-decoration: underline }
.wrapper {
    height: auto;
    width: 960px;
    margin: 0 auto;
}
.header { height: 100px }
.header a {
    display: block;
    float: left;
    padding-top: 36px;
    padding-left: 10px;
}
/*Меню*/
.menu { float: right }
.menu li { display: inline-block }
.menu a {
    display: block;
    background: url(../images/menu_items.png) no-repeat;
    float: left;
    height: 50px;
    margin: 0 25px 0 0;
    text-indent: -9999px;
}
.menu a.home {
    background-position: 0px 0px;
    width: 62px;
    height: 60px;
}
.menu a.portf {
    background-position: -100px 0px;
    width: 100px;
    height: 60px;
}
.menu a.about {
    background-position: -240px 0px;
    width: 80px;
    height: 60px;
}
.menu a.contact {
    background-position: -355px 0px;
    width: 100px;
    height: 60px;
}
/*Стрелки над меню*/
.menu a.home:hover,
.menu a.home.active {
    background-position: 0px -100px;
    width: 62px;
    height: 60px;
}
.menu a.portf:hover,
.menu a.portf.active {
    background-position: -100px -100px;
    width: 100px;
    height: 60px;
}
.menu a.about:hover,
.menu a.about.active {
    background-position: -240px -100px;
    width: 80px;
    height: 60px;
}
.menu a.contact:hover,
.menu a.contact.active {
    background-position: -355px -100px;
    width: 100px;
}
/*конец меню*/
/*Контентк*/
.top-content {
    background: url(../images/featured_bg.png) no-repeat top center;
    height: 454px;
}
.top-content h1 {
    padding: 80px 0px 10px 10px;
    color: white;
    font-family: Georgia;
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
    width: 470px;
}
.top-content p {
    padding: 10px 10px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    width: 460px;
}
.top-content .button {
    float: left;
    margin: 40px 0px 10px 10px;
    text-align: center;
    width: 150px;
    padding: 12px 0px;
    background-color: #F4F4F4;
    color: #1D1D1D;
    font-size: 14px;
    font-weight: bold;
    border: 5px solid #A3A4A4;
    border-radius: 14px;
}
.top-content p.quote {
    margin: 122px 0px 0px 40px;
    width: 570px;
    padding: 12px 0px;
    color: white;
    font-size: 12px;
}
.top-content .john {
    color: #2DA7BD;
    font-style: italic;
}
.top-content .button2 {
    float: right;
    margin: -55px 10px 10px 10px;
    text-align: center;
    width: 235px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #F4F4F4;
    color: #1d1d1d;
    font-size: 14px;
    border: 4px solid #141a20;
    border-radius: 14px;
}
/*3 столбца*/
.main-content {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 65px;
    padding: 5px 0px;
}
.main-content .cont {
    float: left;
    width: 300px;
    height: auto;
    padding: 0px 10px;
    text-align: justify;
}
.main-content img {
    float: left;
    position: relative;
    margin-right: 15px;
}
.main-content h2 {
    padding: 10px 0px;
    font-family: Georgia;
    font-size: 24px;
    line-height: 14px;
    font-weight: normal;
}
.main-content span {
    font-family: Verdana;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
}
.main-content p {
    font-size: 12px;
    line-height: 20px;
    margin-top: 15px;
    font-family: Verdana;
    color: #1d1d1d;
}
.what ul {
    float: left;
    margin-top: 40px;
}
.what ul li:before { content: "- " }
.what ul li {
    padding: 5px 0px;
    margin-right: 40px;
    line-height: 14px;
}
.my-portfolio .img { margin-top: 50px }
.social-icons { margin-top: 40px }
.social-icons a {
    float: left;
    width: 140px;
    line-height: 26px;
    padding: 15px 0px;
    color: #57B7D2;
}
/*Подвал*/
footer { background: url(../images/footer_bg.png) repeat-x bottom center }
.foot {
    width: 960px;
    margin: 0 auto;
}
.footblock {
    float: left;
    width: 300px;
    height: 220px;
    padding: 0px 10px;
}
.footblock h3 {
    margin: 20px 0px;
    font-size: 18px;
    line-height: 18px;
    color: white;
    font-weight: normal;
}
.footblock p {
    color: white;
    line-height: 18px;
}
.footblock li {
    margin-left: 35px;
    border-bottom: 1px solid #47535D;
    padding: 5px 0px;
}
.footblock a {
    font-size: 12px;
    line-height: 18px;
    color: #57B7D2;
}
.contact a {
    display: block;
    margin-left: 0px;
    height: 24px;
    line-height: 24px;
    font-style: italic;
}
.contact .image { margin-top: 20px }
.contact img {
    vertical-align: middle;
    padding-right: 10px;
}
.copyright {
    text-align: center;
    padding-bottom: 15px;
    color: white;
    font-size: 11px;
}
.copyright a { color: #57B7D2 }